{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsum ipsa sit provident quasi quibusdam unde, error eveniet veritatis animi hic dolor ratione cumque veniam magni minus labore corporis porro maxime repellendus accusamus? Eius dolores quaerat molestiae, ullam laborum totam beatae, aperiam dolor aliquam consectetur asperiores! Iusto distinctio, sapiente, non tenetur unde quos alias odit quas ab dolores expedita amet reprehenderit veniam doloremque ipsa omnis eaque. Iusto eum dolor optio? Velit aspernatur modi iure ut et quae veniam, beatae soluta, at optio corrupti aut, odio eveniet cumque quasi totam maxime natus corporis consectetur doloremque voluptatum. Molestias ab ea alias voluptatem.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
    {% endblock %}