{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">Tareas Ingresadas</h1>
            <ul class="list-group">
              {% for task in tasks %}
              <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                    <header class="d-flex justify-content-between">
                        {% if task.important %}
                        <h4 class="fw-bold text-success">{{task.titulo}}</h4>
                        {% else %} 
                        <h4 class="fw-bold">{{task.titulo}}</h4>
                        {% endif %}
                        <p>Usuario: {{task.user.username}}</p>
                    </header>
                    <p>Fechas Creación: {{task.fechacompletada|date:'Y M d - G:i'}} --- Horas Totales: {{task.horastotales}}</p>
                    <p>{{task.descripcion}}</p>
                </a>
              {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}